.App {
  display: flex;
  min-height: 100vh;
}
.App .container {
  flex-grow: 1;
  margin-bottom: 8rem;
  padding: 0 6rem;
}

@media (max-width: 768px) {
  .App .container {
    padding: 0 4rem;
  }
}

@media (max-width: 425px) {
  .App .container {
    padding: 0 2rem;
  }
}
